.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: $c-white;

  .logo {
    flex: 0 0 10%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
  }

  .navigation {
    ul {
      list-style: none;

      li {
        display: inline;
        margin-right: 30px;
        font-size: 17px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
